header, main {
    text-align: center;
    font-family: Calibri, sans-serif;
}

.title {
    font-size: 14pt;
    text-align: center;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin-top: 0cm;
}

h1 {
    color: #333;
    font-size: 34px;
    font-weight: bold;
    margin-top: 2cm;
    font-family: Calibri, sans-serif;
}

h2 {
    color: #333;
    font-size: 20px;
    font-family: Calibri, sans-serif;
}

form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

br {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: right;
    margin-right: 1cm;
}

html {
    background-color: #b1d4ee;
}